<main>
  {{ $paginator := .Paginate (where .Site.Pages "Type" "blog") }}
  {{ range $paginator.Pages }}
    <article>
      <div class="title-container">
        <a href="{{ .Permalink }}">{{ partial "page-heading" . }}</a>
      </div>
      <div class="markdown">
        {{ .Content }}
      </div>
      <div class="meta">
        <div class="date" title="{{ .Date.Format .Site.Params.DateFormFull }}">{{ .Date.Format .Site.Params.DateForm }}</div>
        <div>
          <div class="meta-space"></div>{{ delimit .Params.tags ", " }}</div>
      </div>
    </article>
  {{ end }}
</main>
