{{ partial "header.html" . }}

<section class="main post non-narrow zero-top-spacing">
  <div class="container">
    <div class="content">
      <article>
        <div class="title-container">
          {{ partial "page-heading" . }}
        </div>
        <div class="markdown">
          {{ .Content }}
        </div>
        {{ partial "article-links" . }}
        {{ partial "post-meta" . }}
      </article>

      <div class="post-navigation">
        {{ if .Prev }}
          <div class="post-prev-next">
            <a href="{{ .Prev.Permalink }}">← {{ .Prev.Title }}</a>  
          </div>
        {{ end }}
        {{ if .Next }}
          <div class="post-prev-next">
            <a href="{{ .Next.Permalink }}">{{ .Next.Title }} →</a>
          </div>
        {{ end }}
      </div>

      <br />
      <div class="disqus">
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
