{{ partial "header.html" . }}

<section class="main post non-narrow zero-top-spacing">
  <div class="container">
    <div class="content">
      <article>
        <div class="title-container">
          {{ partial "page-heading" . }}
        </div>
        <div class="markdown">
          {{ .Content }}
        </div>
        {{ partial "article-links" . }}
        {{ partial "post-meta" . }}
      </article>

      <div class="post-navigation">
        {{ if .Prev }}
          <div class="post-prev-next">
            <a href="{{ .Prev.Permalink }}">← {{ .Prev.Title }}</a>  
          </div>
        {{ end }}
        {{ if .Next }}
          <div class="post-prev-next">
            <a href="{{ .Next.Permalink }}">{{ .Next.Title }} →</a>
          </div>
        {{ end }}
      </div>

      <br />
      <div class="disqus">
        <div id="disqus_thread"></div>
<script type="text/javascript">

(function() {
    // Don't ever inject Disqus on localhost--it creates unwanted
    // discussions from 'localhost:1313' on your Disqus account...
    if (window.location.hostname == "localhost")
        return;

    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    var disqus_shortname = '{{ .Site.DisqusShortname }}';
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com/" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
