{{ partial "header.html" . }}

<section class="main post non-narrow zero-top-spacing">
  <div class="container">
    <div class="content">
      <div class="title-container">
        {{ partial "page-heading" . }}
      </div>
      <div class="markdown">
        {{ .Content }}
      </div>
      <div class="meta">
        {{ partial "post-date" . }}
      </div>
      <div class="back-to-blog">
        <a href="/blog/">{{ if $.Site.Data.localization }}{{ $.Site.Data.localization.backToPosts }}{{else}}Back to posts{{ end }}</a>
      </div>
      <br>
      <div class="disqus">
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
