[submodule "public/ru"]
	path = public/ru
	url = git@github.com:agladky/agladky.github.io.git
	branch = master
[submodule "public/en"]
	path = public/en
	url = git@github.com:agladky/agladky.com.git
	branch = master
