{{ define "main" }}
  <article class="article-layout">
    <header class="article-head__wrapper">
      <span class="article-head">{{ default .Title .Params.heading }}</span>
    </header>

    <div class="article-content markdown--blackfriday">
      {{ .Content }}
    </div>

    <footer class="article-footer__wrapper">
      <div class="likely">
        <div class="twitter">{{ i18n "twitterButton" }}</div>
        <div class="facebook">{{ i18n "facebookButton" }}</div>
        <div class="gplus">{{ i18n "gplusButton" }}</div>
        <div class="vkontakte">{{ i18n "vkontakteButton" }}</div>
        <div class="telegram">{{ i18n "telegramButton" }}</div>
      </div>

      {{ partial "article-meta.html" . }}
    </footer>
  </article>

  <div class="article-navigation">
    {{ if .Prev }}
      <div class="article-navigation__item {{ if .Next }}article-navigation__item--first{{ end }}">
        <a href="{{ .Prev.Permalink }}">← {{ .Prev.Title }}</a>
      </div>
    {{ end }}
    {{ if .Next }}
      <div class="article-navigation__item">
        <a href="{{ .Next.Permalink }}">{{ .Next.Title }} →</a>
      </div>
    {{ end }}
  </div>

  <div class="disqus">
    {{ template "_internal/disqus.html" . }}
  </div>
{{ end }}