<!DOCTYPE html>
<html lang="{{- .Site.LanguageCode -}}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <meta name="description" content="{{ with .Description }}{{- . -}}{{ else }}{{ if .IsPage }}{{- .Summary -}}{{ else }}{{ with .Site.Params.description }}{{- . -}}{{ end }}{{ end }}{{ end }}">
    {{ with .Site.Author }}<meta name="author" content="{{- .name -}}">{{ end }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/google_news.html" . }}
  
    <base href="{{- .Site.BaseURL -}}">
    <title>
      {{- $url := replace .Permalink (printf "%s" .Site.BaseURL) "" }}
      {{- if eq $url "/" }}
        {{- .Site.Title -}}
      {{- else }}
        {{- if .Params.heading }} {{- .Params.heading -}} {{ else }} {{- .Title -}} {{ end }}
      {{- end -}}
    </title>
    <link rel="canonical" href="{{- .Permalink -}}">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i">
    {{- $t := now.Unix -}}
    <link rel="stylesheet" href="/css/reset.css?t={{$t}}">
    <link rel="stylesheet" href="/css/pygments.css?t={{$t}}">
    <link rel="stylesheet" href="/css/likely.css?t={{$t}}">
    <link rel="stylesheet" href="/css/main.css?t={{$t}}">
    
    <script async src="/js/likely.js"></script>
  </head>

  <body>
    <div class="page-container">
      <header class="page-header section-skin">

        <div class="page-header__up">
          <a class="page-header__avatar-link" {{ printf "href=%q" ("/" | relLangURL) | safeHTMLAttr -}}>
            <img class="page-header__avatar" src="/img/avatar.jpg">
          </a>

          <span class="page-header__name">
            {{- if not .IsHome -}} <a class="page-header__name-link" href="/"> {{ end }}
            {{- .Site.Title -}}
            {{- if not .IsHome -}} </a> {{- end -}}
          </span>

          <div class="page-header__lang">
              {{ if .IsTranslated }}
              <ul>
                  {{ range .Translations }}
                  <li>
                    <a class="page-header__lang-link" href="{{ .Permalink }}">{{ .Lang }}</a>
                  </li>
                  {{ end}}
              </ul>
              {{ end }}
            </div>
        </div>
        
        <div class="page-header__bottom">
          <nav class="page-header__menu">
            {{- $currentPage := . }}
            {{- range $index, $menu := .Site.Menus.main }}
              {{- if or ($currentPage.IsMenuCurrent "main" $menu) ($currentPage.HasMenuCurrent "main" $menu) }}
                <span class="page-header__menu-item page-header__menu-item--selected {{ if eq $index 0 }}page-header__menu-item--first{{ end }}">
                  {{- $menu.Name -}}
                </span>
              {{- else }}
                <span class="page-header__menu-item
                    {{- if eq ($currentPage.Section) ($menu.Identifier) }} page-header__menu-item--selected{{ end }}
                    {{- if eq $index 0 }} page-header__menu-item--first{{ end }}">
                  <a href="{{- $menu.URL -}}" class="page-header__menu-link">{{- $menu.Name -}}</a>
                </span>
              {{- end }}
            {{- end }}
          </nav>
        </div>
      </header>

      <main class="main-layout__container section-skin">
        <div class="main-layout__content">
            {{ block "main" . }}
              {{ .Content }}
            {{ end }}
        </div>
      </main>

      <footer class="footer-layout__container section-skin">
        <div>
          <div>
            <span>© {{ .Site.Author.name }}, {{ now.Year }}</span>
            <a class="footer__rss" href="{{- .Site.RSSLink -}}">РСС</a>
          </div>
          <span>{{- i18n "mail" . }}: <a href="mailto:me@agladky.ru">me@agladky.ru</a></span>
        </div>
      </footer>
    </div>
    
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
  
