<!DOCTYPE html>
<html lang="{{- .Site.LanguageCode -}}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <meta name="description" content="{{ with .Description }}{{- . -}}{{ else }}{{ if .IsPage }}{{- .Summary -}}{{ else }}{{ with .Site.Params.description }}{{- . -}}{{ end }}{{ end }}{{ end }}">
    {{ with .Site.Author }}<meta name="author" content="{{- .name -}}">{{ end }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/google_news.html" . }}
  
    <base href="{{- .Site.BaseURL -}}">
    <title>
      {{- $url := replace .Permalink (printf "%s" .Site.BaseURL) "" }}
      {{- if eq $url "/" }}
        {{- .Site.Title -}}
      {{- else }}
        {{- if .Params.heading }} {{- .Params.heading -}} {{ else }} {{- .Title -}} {{ end }}
      {{- end -}}
    </title>
    <link rel="canonical" href="{{- .Permalink -}}">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i">
    {{- $t := now.Unix -}}
    <link rel="stylesheet" href="/css/reset.css?t={{$t}}">
    <link rel="stylesheet" href="/css/pygments.css?t={{$t}}">
    <link rel="stylesheet" href="/css/main.css?t={{$t}}">
    <link rel="stylesheet" href="/css/likely.css?t={{$t}}">
    
    <script async src="/js/likely.js"></script>
  </head>

  <body>
    <header class="header-container">
      <div class="container">
        <div class="content">
          <div class="site-header">
            <a {{ printf "href=%q" ("/" | relLangURL) | safeHTMLAttr -}}><img class="avatar" src="/img/avatar.jpg"></a>
            {{ if or (.IsHome) (eq .Title "Blog" ) }}
              <span class="name">{{- .Site.Title -}}</span>
            {{ else }}
              <a href="/"><span class="name">{{- .Site.Title -}}</span></a>
            {{ end }}
          </div>

          <nav>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
              {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                <span class="menu-item-selected">{{- .Name -}}</span>
              {{ else if eq $currentPage.Section .Identifier }}
                <a href="{{- .URL -}}">
                  <span class="menu-item-selected">{{- .Name -}}</span>
                </a>
              {{ else }}
                <a href="{{- .URL -}}">
                  <span>{{- .Name -}}</span>
                </a>
              {{ end }}
            {{ end }}
          </nav>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="container">
        <div class="content">
            {{ block "main" . }}
              {{ .Content }}
            {{ end }}
        </div>
      </div>
    </main>

    <footer class="footer-container">
      <div class="container">
        <div class="content">
          <span>© {{ .Site.Author.name }}, {{ now.Year }} </span><a class="rss" href="{{- .Site.RSSLink -}}">РСС</a>
          <br />
          <span>{{- i18n "mail" . }}: <a class="" href="mailto:me@agladky.ru">me@agladky.ru</a></span>
        </div>
      </div>
    </footer>
    
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
  
