<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

<section class="header">
  <div class="container">
    <div class="content">
      {{ if or (.IsHome) (eq .Title "Blog" ) }}
        <span class="name">{{ .Site.Title }}</span>
      {{ else }}
        <a href="/blog">
          <span class="name">{{ .Site.Title }}</span>
        </a>
      {{ end }}

      {{ if .Site.Params.isMainMenuEnabled }}
        <nav>
          {{ $currentNode := . }}
          {{ range .Site.Menus.main }}
            {{ if ($currentNode.IsMenuCurrent "main" .) }}
              <span class="menu-item-selected">{{ .Name }}</span>
            {{ else if ($currentNode.HasMenuCurrent "main" .) }}
              <a href="{{ .URL }}" class="menu-item-selected">
                <span>{{ .Name }}</span>
              </a>
            {{ else }}
              <a href="{{ .URL }}">
                <span>{{ .Name }}</span>
              </a>
            {{ end }}
          {{ end }}
        </nav>
      {{ end }}
    </div>
  </div>
</section>
