<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

<section class="header">
  <div class="container">
    <div class="content">
      <a {{ printf "href=%q" ("/" | relLangURL) | safeHTMLAttr }}><img class="avatar" src="/img/avatar.jpg"></a>
      {{ if or (.IsHome) (eq .Title "Blog" ) }}
        <span class="name">{{ .Site.Title }}</span>
      {{ else }}
        <a href="/blog">
          <span class="name">{{ .Site.Title }}</span>
        </a>
      {{ end }}

      <nav>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            <span class="menu-item-selected">{{ .Name }}</span>
          {{ else if eq $currentPage.Section .Identifier }}
            <a href="{{ .URL }}">
              <span class="menu-item-selected">{{ .Name }}</span>
            </a>
          {{ else }}
            <a href="{{ .URL }}">
              <span>{{ .Name }}</span>
            </a>
          {{ end }}
        {{ end }}
      </nav>
    </div>
  </div>
</section>
