{{ define "main" }}
  <article class="article-layout">

    {{ if ne (.Param "cover_url") "" }}
    <img src='{{ .Param "cover_url" }}' alt="{{ .Title }}" class="book-review__cover">
    {{ end }}
    <div class="article-content clearfix markdown--blackfriday">
      <header class="article-head__wrapper">
        <span class="article-head">{{ default .Title .Params.heading }}</span>
        <p class="article-head__sub">{{ .Param "author_names" }}</p>
      </header>

      <div class="book-review__rating book-review__rating_head">
        {{- partial "book-rating.html" . -}}
      </div>

      {{ .Content }}
    </div>

    <footer class="article-footer__wrapper">
      <div class="likely">
        <div class="twitter">{{ i18n "twitterButton" }}</div>
        <div class="facebook">{{ i18n "facebookButton" }}</div>
        <div class="vkontakte">{{ i18n "vkontakteButton" }}</div>
        <div class="telegram">{{ i18n "telegramButton" }}</div>
      </div>
    </footer>
  </article>

  <div class="article-navigation">
    {{ if .NextPage }}
      <div class="article-navigation__item {{ if .PrevPage }}article-navigation__item--first{{ end }}">
        <a href="{{ .NextPage.Permalink }}">← {{ .NextPage.Title }}</a>
      </div>
    {{ end }}
    {{ if .PrevPage }}
      <div class="article-navigation__item">
        <a href="{{ .PrevPage.Permalink }}">{{ .PrevPage.Title }} →</a>
      </div>
    {{ end }}
  </div>
{{ end }}